    .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   }
   .skills img {
       padding: 10px 10px;
       height: 90px;
       margin: 10px 30px;
   }
   .skills img:last-child{
       height: 90px;
       padding: 15px 15px;
   }
   .skills-container h2 {
       text-align: center;
       font-family: 'Oooh Baby', cursive;
       padding: 35px 0px 10px 0px;
       font-size: 3rem;
       letter-spacing: 3px;
   }
   .skills-container {
       background: rgba( 255, 255, 255, 0.1 );
       backdrop-filter: blur( 0px );
       -webkit-backdrop-filter: blur( 0px );
       padding: 0px 10px 150px 10px;
   }
   .skills-container img {
       background: rgba( 255, 255, 255, 0.25 );
       box-shadow: 0 8px px 0 rgba( 31, 38, 135, 0.37 );
       backdrop-filter: blur( 20px );
       -webkit-backdrop-filter: blur( 20px );
       border-radius: 15px;
   }
   @media (max-width: 1025px) {
    .skills {
        padding: 10px 150px;
    }
    .skills-container h2 {
        padding: 100px 0px 10px 0px;
    }
   }
   @media (max-width: 950px) {
    .skills {
        padding: 10px 85px;
    }
    .skills-container h2 {
        padding: 60px 0px 10px 0px;
    }
   }
   @media (max-width: 770px) {
    .skills {
        padding: 0px 40px;
    }
    .skills-container h2 {
        padding:25px 0px 10px 0px;
    }
   }
   @media (max-width: 550px) {
    .skills {
        padding: 0px 100px;
    }
    .skills-container {
        padding: 80px 0px;
    }
   }
   @media (max-width: 450px) {
    .skills {
        padding: 0px;
    }
   }
