.skills {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 100px;
}
.skills img {
    padding: 0px 50px;
    height: 64px;
}
.skills img:first-child{
    height: 70px;
}
.skills-container h1 {
    text-align: center;
    padding: 30px 0px 20px 0px;
}
.skills-container {
    background: rgba( 214, 247, 171, 0.35 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    
}