.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 100px 50px;
}
.about-container h2 {
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    padding: 20px 0px;
    font-size: 2rem;
}
.about-container p {
    font-size: 1rem;
}
.about-container img {
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}
.about-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: 0px 40px;
}
.about-card h2 {
    letter-spacing: 7px;
    margin-top: -10px;
}
.about-container section {
    display: flex;
    padding-bottom: 15px;
}
.about-container section img {
    height: 100px;
}

@media (max-width: 950px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .about-container section img {
        display: none;
    }
}   
   
@media (max-width: 850px) {
    .about-container section {
        display: flex;
        margin-bottom: -30px;
    }
}

@media (max-width: 760px) {
    .about-container img {
        height: 320px;
    }
    .about-card {
        font-size: 1rem;
    }
    .about-container h2 {
        font-size: 2.5rem;
    }
}
 
 