.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    height: 6vh;
    padding: 0px 15px;
}
.header-links a{
   padding-right: 20px;
}