h1 {
    font-family: 'Oooh Baby', cursive;
    letter-spacing: 4px;
    font-size: 3rem;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 10px 80px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 150px 10px 0px 10px;
    text-align: center;
}
.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-pic {
    margin-top: -180px;
    height: 600px;
    margin-bottom: -100px;
}
@media (max-width: 1280px) {
    .intro-container {
        padding: 80px 0px 0px 0px;
    }
    .intro-pic {
        margin-top: -130px;
        height: 500px;
        margin-bottom: -85px;
    }
}
@media (max-width: 1025px) {
    h1 {
        letter-spacing: 2px;
        font-size: 3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .flowers {
        height: 13vh;
    }
    .intro-container {
        padding: 85px 0px 0px 0px;
    }
    .intro-pic {
        margin-top: -120px;
        height: 600px;
        margin-bottom: -100px;
    }
}
@media (max-width: 950px) {
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 1rem;
    }
    .flowers {
        height: 12vh;
    }
    .intro-container {
        padding: 200px 0px 0px 0px;
    }
    .intro-pic {
        margin-top: -120px;
        height: 720px;
        margin-bottom: -120px;
    }
   }
   @media (max-width: 850px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .flowers {
        height: 12vh;
    }
    .intro-container {
        padding: 130px 0px 0px 0px;
    }
    .intro-pic {
        margin-top: -120px;
        height: 520px;
        margin-bottom: -85px;
    }
   }
@media (max-width: 550px) {
    h1 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1rem;
    }
    .flowers {
        height: 9vh;
    }
    .intro-container {
        padding: 120px 0px 0px 0px;
    }
}
@media (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
        padding: 0px 10px;
    }
    .flowers {
        height: 8vh;
    }
    .intro-container {
        padding: 120px 0px 0px 0px;
    }
    .intro-pic {
        margin-top: -80px;
        height: 470px;
        margin-bottom: -78px;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 1.4rem;
    }
    .flowers {
        height: 7vh;
    }
    h3 {
        padding: 0px 13px;
    }
}