footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    font-size: 1.5rem;
    padding: 0px 10px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
}