@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Ysabeau:wght@1;200;400&display=swap');

/* Top section font  */
/* font-family: 'Oooh Baby', cursive; */

/* Font everywhere else  */
/* font-family: 'Ysabeau', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
}
 /* Gradient css start */
 body {
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, #ffe5b4, #AFE1AF, #ffc0cb, #B6D0E2, #ffc0cb);
    background-size: 400% 400%;
    animation: animate 20s ease infinite;
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
 /* Gradient css end */