.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.filter-container p{
    padding: 0px 40px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
}
.filter-container p:hover {
    opacity: 0.2;
}
.work-container h1 {
    text-align: center;
}
.work-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
}
.projects-container img {
    width: 425px;
    object-fit: contain;
    padding-bottom: 10px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.projects-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 10px;
    margin: 20px 80px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}
.projects-container section h2 {
    letter-spacing: 1px;
}
.projects-container section p {
    color: #9EA1D4;
    letter-spacing: 2px;
}

