.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.filter-container p{
    padding: 0px 15px;
    cursor: pointer;
    letter-spacing: 1px;
}
.work-container h1 {
    text-align: center;
}
.work-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.projects-container img {
    width: 425px;
    object-fit: contain;
    padding: 15px 20px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

